


.ui-header{
    background-image: url("../img/header_background.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}


.navbar-black{
    background-color: #1a1a1a;
    margin-bottom: 0;
    padding-bottom:0;
    
}

.navbar-black ul{
    height: 40px;
    
}

.navbar-black ul li{
    text-align: center;
}

.navbar-black ul li img{
    height: 20px;
    margin: 0;
    padding: 9px 18px 9px; text-decoration: none;
    
}

.pontos{
    background-image: url("../img/pontos_background.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    font-family: Arial Bold;
    font-size: 20px;
    vertical-align: middle;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    
    margin: 0;
    padding: 0px 18px 9px; text-decoration: none;
}

.qr-button {
    background-color: #4981af !important;
}

.ui-btn-up-qr-button {
    background-color: #4981af;
    color: #FFFFFF;
    font-family: Arial Bold;
    font-size: 20px;
}
.ui-btn-hover-qr-button, .ui-btn-down-qr-button {
    background-color: #004e8d;
    color: #FFFFFF;
    font-family: Arial Bold;
    font-size: 20px;
}

.pontuacao{
    font-size: 20px;
    vertical-align: bottom;
}

.texto-pontuacao{
    font-size: 10px;
    vertical-align: top;
}

.tab-content{
    width:100%;
    min-width:100%;
    height:100%;
    position: absolute;
    padding:0px 0px 0px 0px;
}

.tab{
    width:98%;
    min-width:100%;
    height:100%;
    background-color:white;
}

.area-texto{
    height: 100%;
    width: 100%;
    min-width:100%;
    min-height:100%;
    background-color: #d6d6d6;
    display: block;
}

.texto-qrcode{
    height: 100%;
    width: 90%;
    min-width:90%;
    min-height:100%;
    background-image: url("../img/qrcode_background.png");
    background-size: 100%;
    background-repeat:no-repeat;
    display: block;
    margin: 0px 20px 20px 20px;
    padding-top: 20px;
    
}

.tabelaQRcode{
    width: 100%;
    background-color: #cccccc;
    border-collapse: collapse;
}

.tabelaQRcode tr{
    min-height: 39px;
    height: 39px;
}

.tabelaQRcode tr td{
    
}

.pergunta{
    font-size: 17px;
    font-family: Arial Bold;
    color: #666666;
    padding-left: 10px;
    border-top:3px solid white;
    border-bottom:3px solid white;
    border-left:3px solid white;
    
}

.correto{
    background-color: #2ca05a;
}

.errado{
    background-color: #d35f5f;
}

.semresposta{
    background-color: #808080;
}

.info{
    background-color: #3771c8;
}

.seta{
    width: 20px;
    text-align: center;
    border-top:3px solid white;
    border-bottom:3px solid white;
    border-right:3px solid white;
}

.correto, .errado, .info, .semresposta{
    border:3px solid white;
    width: 40px;
    text-align: center;
    font-size: 23px;
    font-family: Arial Bold;
    color: white;
}

.tabelaRanking{
    width: 100%;
    align: center;
    padding-top: 20px;
}

.tabelaRanking tr{
    min-height: 39px;
    height: 39px;
}

.tabelaRanking tr td{
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    font-family: Arial Bold;
    color: #4d4d4d;
}

.posicao{
    width: 40px;
    text-align: center;
}

.nome{
    padding-left: 10px;
}

.total{
    width: 40px;
    text-align: center;
}

.tabelaVoce{
    width: 100%;
    align: center;
    color: white;
    background-color: #4981af;
}


.tabelaProgresso{
    border-collapse: collapse;
}

.tabelaProgresso tr td{
    border:8px solid #dbdbdb;
}

.verde{
    background-color: #87deaa;
}


.fontAmarela{
    font-size: 16px;
    color: #ffd42a;
    font-family: "Arial Bold", sans-serif;
    align: center;
}


.logo-consegi{
    height: 69px;
    width: 100%;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.logo-consegi img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

